@{
    ViewData["Title"] = "Home Page";
}


<style>
    .welcome-image {
        max-width: 00%; /* Максимальная ширина изображения равна ширине родительского контейнера */
        height: auto; /* Автоматическое поддержание соотношения сторон */
        border-radius: 10px; /* Закругление углов изображения */
        margin-bottom: 20px; /* Небольшой отступ снизу */
    }
</style>
<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <!-- Добавлено изображение с классом welcome-image -->
    <!-- Ваш остальной код, если есть -->
    <p class="lead">Приветствуем вас в ASP.NET Core!</p>
    <img src="~/images/01.jpg" alt="Добро пожаловать" class="welcome-image" />
    

    
</div>